// =========================================
//  Mixins
// =========================================

@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Calculate em values

@function em($target, $context: $base__font-size) {
	@return ($target / $context) * 1em;
}