/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: em(10px) 0;
  text-transform: uppercase;
  border-radius: $br--default;
}

.default {
  background-color: $color-link-default;

  &:hover {
    background-color: lighten($color-link-default, 15%);
  }
}

.error {
  background-color: $color-error;
  &:hover {
    background-color: lighten($color-error, 15%);
  }
}

.info {
  background-color: $purple;
  &:hover {
    background-color: lighten($purple, 15%);
  }
}

.success {
  background-color: $emerald;
  &:hover {
    background-color: lighten($emerald, 15%);
  }
}

.warning {
  background-color: $tangerine;
  &:hover {
    background-color: lighten($tangerine, 15%);
  }
}
